@import "tailwindcss";

:root {
  --color-primary: #023c54;
  --color-secondary: #ca974a;
  --color_background_mute: #e4eaee;
  --color-text-mute: #6b7280;
  --border-radius: 10px;
  --font-normal: 18px;
}

:root {
  --color-primary: #ca974a;
  --color-secondary: #023c54;
  --border-radius: 10px;
  --font-normal: 18px;
}
