.sidebar {
  height:100%;
  width:100%;
  background: var(--admin-primary);
  display:flex;
  flex-direction:column;
  gap:50px;
  padding:10px;
}
.title{
  display:flex;
  gap:8px;
  align-items:center;
}
.title :first-child{
  width:40px;
  height:43px;
}
.title :last-child{
  color:white;
  font-size:20px;
}
.items{
  display:flex;
  flex-direction:column;
  gap:8px;
}
.buttonActive{
  background-color:var(--admin-secondary);
  font-weight:normal
}
.buttonNormal{
  background-color:#ffffff00;
  color:white;
  font-weight:normal
}

@media (max-width: 900px) {
  .sidebar {
    gap: 12px;
    padding: 8px;
  }
  .items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
  }
}