.container{
    border:1px solid var(--color-border);
    background-color:white;
    border-radius:10px;
    padding-top:10px;
    width:100%;
    height:100%;
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    border-bottom:1px solid var(--color-border);
    margin:0;
}
.header :first-child{
    font-weight:600;
    font-size:20px;
}
.headerSearch{
    display:flex;
    gap:10px;
    color:black
}
.SearchInput{
    border:1px solid var(--color-border);
    background-color:var(--color-primary-mute);
    border-radius:5px;
    display:flex;
    align-items:center;
    padding:2px;   
}
.input{
    border:none;
    font-size:16px;
    background:none;
}
.input:focus{
    outline:none
}
.filter{
    border:1px solid var(--color-border);
    border-radius:5px;
    background:none;
}
.SearchInput :last-child:focus{
    outline:none
}
.searchIcon{
    border:none;
}
.tableHead{
    display:flex;
    justify-content:space-between;
    padding:0 10px;
    background-color:#EFF4FF;
    color:#464555;
}
.tableBody{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    margin-top:-1px;

}
/* event item */
.itemContainer{
    display:flex;
    justify-content:space-between;
    align-content:center;
    /* border:1px solid red; */
    gap:0;
    border-top:1px solid var(--color-border);
    padding:0 10px;
}
.eventName{
    font-size:20px;
    font-weight:500;
}
.capacity{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:5px;
    font-size:12px;
}
.progressLabel{
    text-align:left;
}
.capacity :last-child{
    margin:0;
}
.progress{
    /* border:1px solid red; */
    display:flex;
    position:relative;
    height:7px;
    width:60%;
}
.passive{
    /* border:1px solid blue; */
    background-color:#D3E4FE;
    width:100%;
    height:100%;
    border-radius:10px;
}
.active{
    /* border:1px solid green; */
    background-color:#3525CD;
    position:absolute;
    width:50%;
    height:100%;
    border-radius:10px;
}
.actions{
    /* border:1px solid red; */
    height:50px;
    width:100%;
    align-content:center;
}
.item{
    /* border:1px solid red; */
    width:100%;
    height:50px;
    margin:0;
    align-content:center;
}
.status{
    font-size:12px;
    background-color:#D1FAE5;
    padding:5px 15px;
    color:#047857;
    font-weight:700;
    width:fit-content;
    border-radius:20px;
}
.actionEdit{
    border:none;
    background:none;
    font-size:20px;
    color:#3525CD
}
.actionDelete{
    border:none;
    background:none;
    font-size:20px;
    color:red;
}