.button {
    font-size: var(--font-body);
    border:none;
    color: black;
    background-color:white;
    width: 100%;
    height: 50px;
    display:flex;
    gap:8px;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    border-radius:var(--border-radius);
}
.primary {
  color: white;
  background-color:var(--color-primary);
}
.normal {
  color: black;
  background-color: var(--color-primary-mute);
}
.secondary {
    background: var(--color-secondary);
    color: white;
}
.iconButtonNormal{
  justify-content:left;
  background-color: var(--color-primary-mute);
}
.iconButtonActive{
  justify-content:left;
  background-color:var(--color-primary);
  color:white;
}
.btn_icon :last-child{
    font-size:30px;
    background-color:none;
}
