.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}
.sidebar{
  border-right:1px solid var(--color-mute);
  width:300px;
}
.body{
  /* border:1px solid red; */
  width:100%;
  padding:40px;
  padding-top:10px;
  display:flex;
  flex-direction:column;
  gap:40px;
}
.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.addEvents{
  display:flex;
  justify-content:space-between;
  gap:40px;
}
.events{
  width:100%;
}
.form{
  width:fit-content;
}